/*Resetting the global systems*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus, button:focus, select:focus {
    outline: none;
}

/*Full container properties*/
.container {
    background-color: #fff;
    height: 100vh;
    width: 100%;
}

/*Global settings for the navbar links*/
li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

li:nth-child(1) {
    margin-right: 10px;
}

li:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}

li:nth-child(3) {
    margin-left: 10px;
    margin-right: 10px;
}

li:nth-child(4) {
    margin-left: 10px;
}

/*Setting the navbar space*/
header{
    height: 6vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: #e7717d;
}

/*Making logo clickable once logo added*/
.logo {
    cursor: pointer;
    color: white;
}

/*Tab Settings*/
.tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 20px 20px;
}

.tab {
    cursor: pointer;
    padding: 10px;
    transition: all 0.5s ease 0s;
}

.tab.active {
    color: #e7717d;
    background-color: #fff;
    border-radius: 18px;
}

.tab:hover {
    color: #e7717d;
    background-color: #fff;
    border-radius: 18px;
    outline: none;
}

.tab:focus {
    outline: none;
}

.vitagroups, .vitastats {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

/*Content Display*/
.page {
    height: 90vh;
    width: 100%;
}

.form {
    width: 600px;
    padding-top: 40px;
    margin-left: 30px;
}

.form input {
    margin-bottom: 15px;
    width: 100%;
    font-size: larger;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgb(100, 98, 98);
}

.form button {
    float: right;
    width: 90px;
    border-radius: 10px;
    font-size: large;
    background-color: rgb(168, 151, 151);
    color: white;
    padding: 3px 3px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.form button:hover {
    transform: scale(1.1);
}

.vgsettings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.vg1 {
    border: 2px red solid;
    height: 60%;
    width: 48%;
}

.vg2 {
    border: 2px green solid;
    height: 60%;
    width: 48%;
}

.vsform {
    padding-bottom: 5px;
    width: 98%;
    margin: auto;
}

.vsform input {
    width: 93%;
    margin-top: -6%;
    font-size: medium;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgb(100, 98, 98);
}

.vsform button {
    width: 5%;
    font-size: medium;
    height: 30px;
    background-color: rgb(168, 151, 151);
    color: white;
    border-radius: 10px;
    padding: 3px 3px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    margin-left: 0.8%;
}

.vsform button:hover {
    transform: scale(1.1);
}

.vssettings {
    width: 100%;
    height: 91%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.vs1 {
    height: 50%;
    width: 50%;
    background-color: brown;
}

.vs2 {
    height: 50%;
    width: 50%;
    background-color: blue;
}

.vs3 {
    height: 50%;
    width: 50%;
    background-color: orange;
}

.vs4 {
    height: 50%;
    width: 50%;
    background-color: yellow;
}

/*Footer*/
footer {
    height: 4vh;
    width: 100vw;
    color: #fff;
    background-color: #e7717d;
}

footer p {
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    font-size: larger;
    font-weight: bolder;
}

/*For the heart beating icon*/
.fa{
    color: #E90606;
    margin: 0 3px;
    font-size: 10px;
    animation: pound .35s infinite alternate;
    -webkit-animation: pound .35s infinite alternate;
}

/*The heart beat animation*/
@keyframes pound{
    to{
        transform: scale(1.1)
    }
}