/*Resetting the global systems*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus, button:focus {
    outline: none;
}

/*Full container properties*/
.container {
    background-color: #fff;
    height: 100vh;
    width: 100%;
}

/*Global settings for the navbar links*/
li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

li:nth-child(1) {
    margin-right: 10px;
}

li:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}

li:nth-child(3) {
    margin-left: 10px;
    margin-right: 10px;
}

li:nth-child(4) {
    margin-left: 10px;
}

/*Setting the navbar space*/
header{
    height: 6vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #e7717d;
}

/*Making logo clickable once logo added*/
.logo {
    cursor: pointer;
    color: white;
}

/*Tab Settings*/
.tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 20px 20px;
}

.tab {
    cursor: pointer;
    padding: 10px;
    transition: all 0.5s ease 0s;
}

.tab.active {
    color: #e7717d;
    background-color: #fff;
    border-radius: 18px;
}

.tab:hover {
    color: #e7717d;
    background-color: #fff;
    border-radius: 18px;
    outline: none;
}

.tab:focus {
    outline: none;
}

.vitagroups, .vitastats {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

/*Content Display*/
.page {
    height: 89vh;
    width: 100%;
}

.form {
    width: 400px;
    padding-top: 40px;
    margin-left: 30px;
}

.form input {
    margin-bottom: 15px;
    width: 400px;
    font-size: larger;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgb(100, 98, 98);
}

.form button {
    float: right;
    width: 90px;
    border-radius: 10px;
    font-size: large;
    background: transparent;
}

.vgsettings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.vg1 {
    border: 2px red solid;
    height: 550px;
    width: 750px;
}

.vg2 {
    border: 2px green solid;
    height: 550px;
    width: 750px;
}

.vssettings {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5% ;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
    "g1 g2"
    "g3 g4";
    grid-gap: 10px;
}

.vs1 {
    grid-area: g1;
    grid-column: 2/3;
    border: 1px solid red;
    height: 250px;
    width: 570px;
    align-self: center;
}

.vs2 {
    grid-area: g2;
    grid-column: 3/4;
    border: 1px solid green;
    height: 250px;
    width: 570px;
    align-self: center;
}

.vs3 {
    grid-area: g3;
    grid-column: 2/3;
    border: 1px solid blue;
    height: 250px;
    width: 570px;
    align-self: center;
}

.vs4 {
    grid-area: g4;
    grid-column: 3/4;
    border: 1px solid yellow;
    height: 250px;
    width: 570px;
    align-self: center;
}

/*Footer*/
footer {
    height: 4vh;
    width: 100vw;
    color: #fff;
    background-color: #e7717d;
}

footer p {
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    font-size: larger;
    font-weight: bolder;
}

/*For the heart beating icon*/
.fa{
    color: #E90606;
    margin: 0 3px;
    font-size: 10px;
    animation: pound .35s infinite alternate;
    -webkit-animation: pound .35s infinite alternate;
}

/*The heart beat animation*/
@keyframes pound{
    to{
        transform: scale(1.1)
    }
}